In [19]:
import wrangle as w
import pandas as pd
import numpy as np
import re
from importlib import reload

In [21]:
queens, queenep, episodes = w.get_show_data()

In [22]:
reload(w)
w.clean_queens(queens)

,Unnamed: 0,queen_name,age,outcome,season,series,city,region
0,0,BeBe Zahara Benet,28,1,1,Rupaul's Drag Race,Minneapolis,Minnesota
1,1,Nina Flowers,34,2,1,Rupaul's Drag Race,Denver,Colorado
2,2,Rebecca Glasscock,26,3,1,Rupaul's Drag Race,Fort Lauderdale,Florida
3,3,Shannel,29,4,1,Rupaul's Drag Race,Las Vegas,Nevada
4,4,Ongina,26,5,1,Rupaul's Drag Race,Los Angeles,California
...,...,...,...,...,...,...,...,...
351,351,Elips,25,6,1,Drag Race France,Bordeaux,Nouvelle-Aquitaine
352,352,Kam Hugh,22,7,1,Drag Race France,Paris,Île-de-France
353,353,La Briochée,31,8,1,Drag Race France,Palaiseau,Île-de-France
354,354,Lova Ladiva,32,9,1,Drag Race France,Toulouse,Occitania
355,355,La Kahena,29,10,1,Drag Race France,Paris,Île-de-France