In [2]:
import warnings
from importlib import reload

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

import wrangle as w

In [3]:
warnings.simplefilter("ignore")
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [5]:
pd.read_pickle('data/contep.pkl')

                rank  missc                  contestant outcome  eliminated  \
season episode
1      1           1   True           BeBe Zahara Benet    SAFE        True
       1           2   True                Nina Flowers     WIN        True
       1           3   True           Rebecca Glasscock     LOW        True
       1           4   True                     Shannel    SAFE        True
       1           5   True                      Ongina    HIGH        True
...              ...    ...                         ...     ...         ...
14     16         10   True             Maddy Morphosis     NaN        True
       16         11   True                 Orion Story     NaN        True
       16         12   True  Kornbread (The Snack) Jete     NaN        True
       16         13   True               Alyssa Hunter     NaN        True
       16         14   True              June Jambalaya     NaN        True

                participant  minichalw     etype
season episode
1      1               True       True  Standard
       1               True       True  Standard
       1               True       True  Standard
       1               True       True  Standard
       1               True       True  Standard
...                     ...        ...       ...
14     16              True       True    Finale
       16              True       True    Finale
       16              True       True    Finale
       16              True       True    Finale
       16              True       True    Finale

[2320 rows x 8 columns]

In [8]:
reload(w)
w.get_rpdr_data()

,season,contestant,age,dob,city,state,rank,missc,outcome,eliminated,participant,minichalw,etype
0,1,BeBe Zahara Benet,28,1981-03-20,Minneapolis,Minnesota,1,True,SAFE,True,True,True,Standard
1,1,BeBe Zahara Benet,28,1981-03-20,Minneapolis,Minnesota,1,True,SAFE,True,True,True,Standard
2,1,BeBe Zahara Benet,28,1981-03-20,Minneapolis,Minnesota,1,True,WIN,True,True,True,Standard
3,1,BeBe Zahara Benet,28,1981-03-20,Minneapolis,Minnesota,1,True,HIGH,True,True,True,Standard
4,1,BeBe Zahara Benet,28,1981-03-20,Minneapolis,Minnesota,1,True,BTM,True,True,True,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2410,14,June Jambalaya,29,NaT,Los Angeles,California,14,True,NaN,True,True,True,Standard
2411,14,June Jambalaya,29,NaT,Los Angeles,California,14,True,NaN,True,True,True,Standard
2412,14,June Jambalaya,29,NaT,Los Angeles,California,14,True,NaN,True,True,True,Standard
2413,14,June Jambalaya,29,NaT,Los Angeles,California,14,True,NaN,True,True,True,Standard
2414,14,June Jambalaya,29,NaT,Los Angeles,California,14,True,NaN,True,True,True,Finale